<div class="container">
    <input type="text" class="form-control bg-dark text-white border-0 my-4 text-center" (keyup)="searchcoin()" [(ngModel)]="searchtext" />

    <table class="table table-dark">
        <thead>
            <tr>
                <th *ngFor="let titulo of titulos">
                    {{titulo}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coins of filtro; let i = index">
                <td>
                    {{i +1}}
                </td>
                <td>
                    <img [src]="coins.image" alt="{{coins.name}}" style="width: 2rem;" />
                    <span class="ms-2">{{coins.name}}</span>
                    <span class="text-muted text-uppercase ms-3">{{coins.symbol}}</span>
                </td>
                <td>
                    $ {{coins.current_price}}
                </td>
                <td [ngClass]="coins.price_change_percentage_24h > 0 ? 'text-success': 'text-danger' ">
                    {{coins.price_change_percentage_24h.toLocaleString()}}
                </td>
                <td>
                    {{coins.total_volume.toLocaleString()}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
